li {
    clear: both;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300px;
}
form {
    margin-bottom: 10px;
}
.lists-wrapper, .todos-wrapper {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
.lists-wrapper ul {
    background-color: #757575;
    color: white;
}
.active-list {
    background-color: #e0e0e0;
}
.active-list a {
    text-decoration: none;
}
li :hover {
    background-color: #ffff00;
}
.hidden {
    display: none;
}
.task-complete {
    text-decoration: line-through;
}
.btn-delete, .btn-delete-list {
    -webkit-appearance: none;
    background-color: #f44336;
    color: white;
    float: right;
    cursor: pointer;
}
.priority-urgent {
    background-color: #f44336;
    color: white;
}
.priority-high {
    background-color: #ffc107;
}
.priority-medium {
    background-color: #ffeb3b;
}
.priority-low {
    background-color: #4caf50;
}
#error {
    color: #f44336;
}
#input-description, #select-priority-level, #input-list-name {
    width: 100%;
}